cython-bbox==0.1.3
loguru
matplotlib
matplotlib-inline
motmetrics==1.4.0
ninja

opencv-python-headless
pandas
Pillow
PyQt5==5.15.10

PyYAML

scikit-learn
scipy
seaborn

thop
tensorboard
lap
tabulate 
tqdm

ultralytics==8.0.94

wandb

gdown
